<h1>
  My Bookmarks
</h1>

<hr>
Housing photo
City, state
Price
# of bedrooms, # of bathrooms
Available from, available till
# of bookmarks
Show details > /housing/:housing_id

<table>
  <tr>
    <th>
      ID
    </th>

    <th>
      Sublessee
    </th>
    
    <th>
      Sublessee e-mail
    </th>

    <th>
      Listing ID
    </th>

    <th>
      Bookmarked at
    </th>
    
    <th>
      Housing type
    </th>

    <th>
      # of bedrooms
    </th>

    <th>
      # of bathrooms
    </th>

    <th>
      City
    </th>
    
    <th>
      State
    </th>

    <th>
      Monthly price
    </th>

    <th>
      Available from
    </th>

    <th>
      Available till
    </th>

    <th>
      Times bookmarked
    </th>

    <th>
    </th>
  </tr>

  <% @bookmarks.each do |bookmark| %>
  <tr>
    <td>
      <%= bookmark.id %>
    </td>

    <td>
      <%= bookmark.sublessee_id %>
    </td>
    
    <td>
      <%= bookmark.sublessee_id%>
    </td>

    <td>
      <%= bookmark.listing_id %>
    </td>

    <td>
      <%= time_ago_in_words(bookmark.created_at) %> ago
    </td>

    <td>
      <a href="/listings/<%= listing.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
