<h3 class="text-info">
  <%= @user.first_name %>'s Listings & Bookmarks
</h3>

<br>

<!--------------------User's Listings-------------------->

<table class="table table-hover">
  <tbody>
    <tr class="table-info">
      <th scope="row" class="text-info text-center font-weight-bold"><%= @user.first_name %>'s Listings</th>
    </tr>
  </tbody>
</table> 

<table>
  <tr>
    <th>City</th>
    <th>State</th>
    <th>Monthly price</th>
    <th># of bedrooms</th>
    <th># of bathrooms</th>
    <th>Available from</th>
    <th>Available till</th>
    <th>Times bookmarked</th>
    <th>Created at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @listings.each do |listing| %>
  <tr>
    
    <td>
      <%= listing.city %>
    </td>

    <td>
      <%= listing.state %>
    </td>
    
    <td>
      <%= number_to_currency(listing.monthly_price) %>
    </td>
    
    <td>
      <%= listing.number_of_bedrooms %>
    </td>

    <td>
      <%= listing.number_of_bathrooms %>
    </td>
    
    <td>
      <%= listing.available_from.strftime("%F") %>
    </td>
   
    <td>
      <%= listing.available_till.strftime("%F") %>
    </td>
    
    <td>
       <%= pluralize(listing.bookmarks.count, "bookmarks") %>
    </td>
    
    <td>
      <%= time_ago_in_words(listing.created_at) %> ago
    </td>

    <td>
      <a href="/listings/<%= listing.id %>">
        Show details
      </a>
    </td>

<!------------------- ONLY sublessor can edit or delete listing ------------------->
  
    <% if current_user.id == @user.id %>
 
    <td>
      <a href="/existing_listing_form/<%= listing.id %>">
        Edit
      </a>
    </td>
    
    <td>
      <a href="/delete_listing/<%= listing.id %>">
        Delete
      </a>
    </td>
    
    <% end %>

    </td>
    
  <% end %>
  </tr>
</table>

<br>

<!--------------------User's Bookmarks-------------------->

<table class="table table-hover">
  <tbody>
    <tr class="table-info">
      <th scope="row" class="text-info text-center font-weight-bold"><%= @user.first_name %>'s Bookmarks</th>
    </tr>
  </tbody>
</table> 


<table>
  <tr>
    <th>City</th>
    <th>State</th>
    <th>Monthly price</th>
    <th># of bedrooms</th>
    <th># of bathrooms</th>
    <th>Available from</th>
    <th>Available till</th>
    <th>Times bookmarked</th>
    <th>Sublessor</th>
    <th>Sublessor Email</th>
    <th></th>
    <th></th>
  </tr>

  <% @bookmarked_listings.each do |b_listing| %>
  <tr>
     <td>
      <%= b_listing.city %>
    </td>

    <td>
      <%= b_listing.state %>
    </td>
    
    <td>
      <%= number_to_currency(b_listing.monthly_price) %>
    </td>
    
    <td>
      <%= b_listing.number_of_bedrooms %>
    </td>

    <td>
      <%= b_listing.number_of_bathrooms %>
    </td>

    <td>
      <%= b_listing.available_from.strftime("%F") %>
    </td>
   
    <td>
      <%= b_listing.available_till.strftime("%F") %>
    </td>
    
    <td>
       <%= pluralize(b_listing.bookmarks.count, "bookmarks") %>
    </td>
    
    <td>
      <%= User.where({ :id => b_listing.sublessor_id }).pluck(:first_name).flatten.join('') %>
    </td>
    
    <td>
      <%= User.where({ :id => b_listing.sublessor_id }).pluck(:email).flatten.join('') %>
    </td>

    <td>
      <a href="/listings/<%= b_listing.id %>">
        Show details
      </a>
    </td>
  
  <% if current_user.id == @user.id %>  
    <td>
      <% current_bookmark = Bookmark.where({ :listing_id => b_listing.id, :sublessee_id => @user.id }).at(0) %>
      <a href="/delete_bookmark/<%= current_bookmark.id %>">
        Delete
      </a>
 
    </td> 
  <% end %>
  
  </tr>
  <% end %>
</table>

<hr>

<div>
  <a href="/listings">
    <h6 class="text-info">Go back</h6>
  </a>
</div>