<h1>
  User #<%= current_user.id %> details
</h1>

<div>
  <div>
    <a href="/users">
      Go back
    </a>
  </div>

  <div>
    <a href="/users/edit">
      Edit profile
    </a>
  </div>

  <div>
    <a href="/delete_user/<%= current_user.id %>">
      Delete profile
    </a>
  </div>
</div>

<!--------------------User's Listings-------------------->

<h2><%= current_user.first_name %>'s Listings</h2>

<table>
  <tr>
    <th>City</th>
    <th>State</th>
    <th>Monthly price</th>
    <th># of bedrooms</th>
    <th># of bathrooms</th>
    <th>Times bookmarked</th>
    <th>Created at</th>
    <th></th>
  </tr>

  <% @listings.each do |listing| %>
  <tr>
    
    <td>
      <%= listing.city %>
    </td>

    <td>
      <%= listing.state %>
    </td>
    
    <td>
      <%= listing.monthly_price %>
    </td>
    
    <td>
      <%= listing.number_of_bedrooms %>
    </td>

    <td>
      <%= listing.number_of_bathrooms %>
    </td>
    
    <td>
       <%= pluralize(listing.bookmarks.count, "bookmarks") %>
    </td>
    
    <td>
      <%= time_ago_in_words(listing.created_at) %> ago
    </td>

    <td>
      <a href="/listings/<%= listing.id %>">
        Show details
      </a>
   

<!------------------- ONLY sublessor can edit or delete listing ------------------->
<!--  
    <!% if current_user == @listing.sublessor %>
    
      <a href="/existing_listing_form/<!%= @listing.id %>">
        Edit listing
      </a>

      <a href="/delete_listing/<!%= @listing.id %>">
        Delete listing
      </a>
  
    <!% end %>
-->
    </td>
    
  <% end %>
  </tr>
</table>

<br>

<!--------------------User's Bookmarks-------------------->

<h2><%= current_user.first_name %>'s Bookmarks</h2>

<table>
  <tr>
    <th>City</th>
    <th>State</th>
    <th>Monthly price</th>
    <th># of bedrooms</th>
    <th># of bathrooms</th>
    <th>Available from</th>
    <th>Available till</th>
    <th>Times bookmarked</th>
    <th>Sublessor</th>
    <th>Sublessor Email</th>
    <th></th>
  </tr>

  <% @my_bookmarked_listings.each do |b_listing| %>
  <tr>
     <td>
      <%= b_listing.city %>
    </td>

    <td>
      <%= b_listing.state %>
    </td>
    
    <td>
      <%= b_listing.monthly_price %>
    </td>
    
    <td>
      <%= b_listing.number_of_bedrooms %>
    </td>

    <td>
      <%= b_listing.number_of_bathrooms %>
    </td>

    <td>
      <%= b_listing.available_from %>
    </td>
   
    <td>
      <%= b_listing.available_till %>
    </td>
    
    <td>
       <%= pluralize(b_listing.bookmarks.count, "bookmarks") %>
    </td>
    
    <td>
      <%= User.where({ :id => b_listing.sublessor_id }).pluck(:first_name) %>
    </td>
    
    <td>
      <%= User.where({ :id => b_listing.sublessor_id }).pluck(:email) %>
    </td>

    <td>
      <a href="/listings/<%= b_listing.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>