<h1>
  User #<%= current_user.id %> details
</h1>

<div>
  <div>
    <a href="/users">
      Go back
    </a>
  </div>

  <div>
    <a href="/users/edit">
      Edit profile
    </a>
  </div>

  <div>
    <a href="/delete_user/<%= current_user.id %>">
      Delete profile
    </a>
  </div>
</div>

<h2>Own Listings</h2>

<table>
  <tr>
    <th>Housing type</th>
    <th># of guests</th>
    <th># of bedrooms</th>
    <th>City</th>
    <th>State</th>
    <th>Monthly price</th>
    <th>Times bookmarked</th>
    <th>Created at</th>
    <th></th>
  </tr>

  <% @listings.each do |listing| %>
  <tr>
    <td>
      <%= listing.housing_type %>
    </td>

    <td>
      <%= listing.number_of_guests %>
    </td>

    <td>
      <%= listing.number_of_bedrooms %>
    </td>

    <td>
      <%= listing.city %>
    </td>

    <td>
      <%= listing.state %>
    </td>
    
    <td>
      <%= listing.monthly_price %>
    </td>
    
    <td>
       <%= pluralize(listing.bookmarks.count, "bookmarks") %>
    </td>
    
    <td>
      <%= time_ago_in_words(listing.created_at) %> ago
    </td>

    <td>
      <a href="/listings/<%= listing.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>