<h1>
  Add a new listing
</h1>

<hr>

<%= render("listing_templates/validation_failures.html.erb") %>

<form action="/insert_listing_record" method="post">
  <div>
    <label for="housing_type">
      Housing type
    </label>

    <input type="text" id="housing_type" name="housing_type" value="<%= @listing.housing_type %>">
  </div>

  <div>
    <label for="city">
      City
    </label>

    <input type="text" id="city" name="city" value="<%= @listing.city %>">
  </div>

  <div>
    <label for="neighborhood">
      Neighborhood
    </label>

    <input type="text" id="neighborhood" name="neighborhood" value="<%= @listing.neighborhood %>">
  </div>

  <div>
    <label for="number_of_guests">
      Number of guests
    </label>

    <input type="text" id="number_of_guests" name="number_of_guests" value="<%= @listing.number_of_guests %>">
  </div>

  <div>
    <label for="number_of_bedrooms">
      Number of bedrooms
    </label>

    <input type="text" id="number_of_bedrooms" name="number_of_bedrooms" value="<%= @listing.number_of_bedrooms %>">
  </div>

  <div>
    <label for="number_of_bathrooms">
      Number of bathrooms
    </label>

    <input type="text" id="number_of_bathrooms" name="number_of_bathrooms" value="<%= @listing.number_of_bathrooms %>">
  </div>

  <div>
    <label for="state">
      State
    </label>

    <input type="text" id="state" name="state" value="<%= @listing.state %>">
  </div>

  <div>
    <label for="country">
      Country
    </label>

    <input type="text" id="country" name="country" value="<%= @listing.country %>">
  </div>

  <div>
    <label for="amenities">
      Amenities
    </label>

    <input type="text" id="amenities" name="amenities" value="<%= @listing.amenities %>">
  </div>

  <div>
    <label for="description">
      Description
    </label>

    <input type="text" id="description" name="description" value="<%= @listing.description %>">
  </div>

  <div>
    <label for="monthly_price">
      Monthly price
    </label>

    <input type="text" id="monthly_price" name="monthly_price" value="<%= @listing.monthly_price %>">
  </div>

  <div>
    <label for="sublessor_id">
      Sublessor
    </label>

    <input type="text" id="sublessor_id" name="sublessor_id" value="<%= @listing.sublessor_id %>">
  </div>

  <div>
    <label for="available_from">
      Available from
    </label>

    <input type="text" id="available_from" name="available_from" value="<%= @listing.available_from %>">
  </div>

  <div>
    <label for="available_till">
      Available till
    </label>

    <input type="text" id="available_till" name="available_till" value="<%= @listing.available_till %>">
  </div>

  <div>
    <label for="zip_code">
      Zip code
    </label>

    <input type="text" id="zip_code" name="zip_code" value="<%= @listing.zip_code %>">
  </div>

  <button>
    Create listing
  </button>
</form>

<hr>

<a href="/listings">
  Go back
</a>
