<h1>
  Listing #<%= @listing.id %> details
</h1>

<div>
  <div>
    <a href="/listings">
      Go back
    </a>
  </div>

  <div>
    <a href="/existing_listing_form/<%= @listing.id %>">
      Edit listing
    </a>
  </div>

  <div>
    <a href="/delete_listing/<%= @listing.id %>">
      Delete listing
    </a>
  </div>
</div>

<br>

<!------------------- Sublessor & Listing History ------------------->

<h5>Sublessor & Listing History</h5>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Sublessor</th>
      <th scope="col">Times Bookmarked</th>
      <th scope="col">Listing Created At</th>
      <th scope="col">Listing Updated At</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <a href="/users/<%= @listing.sublessor.id %>">
          <%= @listing.sublessor.first_name + " " + @listing.sublessor.last_name %>
        </a>
      </td>
    
      <td>
        <%= @listing.bookmarks.count %>
      </td>
      
      <td>
        <%= time_ago_in_words(@listing.created_at) %> ago
      </td>
    
      <td>
        <%= time_ago_in_words(@listing.updated_at) %> ago
      </td>
    </tr>
  </tbody>
</table>

<br>

<!------------------- Capacity ------------------->

<h5>Capacity</h5>

<table class="table">
  <thead>
    <tr>
      <th scope="col"># of guests</th>
      <th scope="col"># of bedrooms</th>
      <th scope="col"># of bathrooms</th>
    </tr>
  </thead>
  
  <tbody>
    <tr>
      <td>
        <%= @listing.number_of_guests %>
      </td>
    
      <td>
        <%= @listing.number_of_bedrooms %>
      </td>
    
      <td>
        <%= @listing.number_of_bathrooms %>
      </td>
    </tr>
  </tbody>

</table>

<br>

<!------------------- Pricing & Availability ------------------->

<h5>Pricing & Availability</h5>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Monthly Price</th>
      <th scope="col">Available From</th>
      <th scope="col">Available Till</th>
    </tr>
  </thead>
  
  <tbody>
    <tr>
      <td>
        <%= @listing.monthly_price %>
      </td>
    
      <td>
        <%= @listing.available_from %>
      </td>
    
      <td>
        <%= @listing.available_till %>
      </td>
    </tr>
  </tbody>

</table>

<br>

<!------------------- Location ------------------->

<h5>Location</h5>

<table class="table">
  <thead>
    <tr>
      <th scope="col">City</th>
      <th scope="col">Neighborhood</th>
      <th scope="col">State</th>
      <th scope="col">Zip Code</th>
      <th scope="col">Country</th>
    </tr>
  </thead>
  
  <tbody>
    <tr>
      <td>
        <%= @listing.city %>
      </td>
    
      <td>
        <%= @listing.neighborhood %>
      </td>
    
      <td>
        <%= @listing.state %>
      </td>
      
      <td>
        <%= @listing.zip_code %>
      </td>
    
      <td>
        <%= @listing.country %>
      </td>
    </tr>
  </tbody>
</table>

<br>

<!------------------- Details ------------------->

<h5>Details</h5>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Housing Type</th>
      <th scope="col">Amenities</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  
  <tbody>
    <tr>
      <td>
        <%= @listing.housing_type %>
      </td>
    
      <td>
        <%= @listing.amenities %>
      </td>
    
      <td>
        <%= @listing.description %>
      </td>
    </tr>
  </tbody>

</table>

</dl>

