<h3 class="text-info">
  Listing #<%= @listing.id %> Details
</h3>

<!------------------- Return to recent listings ------------------->

<div>
  <a href="/listings">
    <h6 class="text-info">Go back</h6>
  </a>
</div>

<br>

<!------------------- ONLY NOT sublessor can bookmark listing ------------------->

<!-----List of Interested Sublessees ----->

<dt> 
  <h6 class="text-info">Interested Sublessees</h6> 
</dt>
  
<dd>
  <%= @listing.interested_sublessees.pluck(:first_name).to_sentence %>
</dd>

<!-----Buttons to Add or Remove Bookmark -----> 

<% if current_user != @listing.sublessor %>

  <dd>
    <% new_bookmark = Bookmark.where({ :listing_id => @listing.id, :sublessee_id => current_user.id }).at(0) %>

    <% if new_bookmark == nil  %>
      <form action="/insert_bookmark_record">
        <input type="hidden" value="<%= @listing.id %>" name="listing_id">
  
        <button class="btn btn-info btn-sm">Bookmark this listing</button>
        
      </form>
    
    <% else %>
      <a href="/delete_bookmark/<%= new_bookmark.id %>">
        Delete bookmark
      </a>
    <% end %>
  </dd>
  
<% end %>

<!------------------- ONLY sublessor can edit or delete listing ------------------->
  
<% if current_user == @listing.sublessor %>
  <dd>
    <nav>
      <div>
        <a href="/existing_listing_form/<%= @listing.id %>">
          Edit listing
        </a>
      </div>


      <div>
        <a href="/delete_listing/<%= @listing.id %>">
          Delete listing
        </a>
      </div>
    </nav>
  </dd>
<% end %>

<br>

<!------------------- Contact Details ------------------->

<!--Old formatting
<h5>Contact Details</h5>
-->

<table class="table table-hover">
  <tbody>
    <tr class="table-info">
      <th scope="row" class="text-info text-center font-weight-bold">Contact Details</th>
    </tr>
  </tbody>
</table> 

<table class="table">
  <thead>
    <tr>
      <th scope="col">Sublessor</th>
      <th scope="col">Sublessor Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <a href="/users/<%= @listing.sublessor.id %>">
          <%= @listing.sublessor.first_name + " " + @listing.sublessor.last_name %>
        </a>
      </td>
    
      <td>
        <%= @listing.sublessor.email %>
      </td>
      
    </tr>
  </tbody>
</table>

<br>

<!------------------- Listing History ------------------->

<table class="table table-hover">
  <tbody>
    <tr class="table-info">
      <th scope="row" class="text-info text-center font-weight-bold">Listing History</th>
    </tr>
  </tbody>
</table> 

<table class="table">
  <thead>
    <tr>
      <th scope="col">Times Bookmarked</th>
      <th scope="col">Listing Created At</th>
      <th scope="col">Listing Updated At</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= @listing.bookmarks.count %>
      </td>
      
      <td>
        <%= time_ago_in_words(@listing.created_at) %> ago
      </td>
    
      <td>
        <%= time_ago_in_words(@listing.updated_at) %> ago
      </td>
    </tr>
  </tbody>
</table>

<br>

<!------------------- Location ------------------->

<table class="table table-hover">
  <tbody>
    <tr class="table-info">
      <th scope="row" class="text-info text-center font-weight-bold">Location</th>
    </tr>
  </tbody>
</table> 

<table class="table">
  <thead>
    <tr>
      <th scope="col">City</th>
      <th scope="col">Neighborhood</th>
      <th scope="col">State</th>
      <th scope="col">Zip Code</th>
      <th scope="col">Country</th>
    </tr>
  </thead>
  
  <tbody>
    <tr>
      <td>
        <%= @listing.city %>
      </td>
    
      <td>
        <%= @listing.neighborhood %>
      </td>
    
      <td>
        <%= @listing.state %>
      </td>
      
      <td>
        <%= @listing.zip_code %>
      </td>
    
      <td>
        <%= @listing.country %>
      </td>
    </tr>
  </tbody>
</table>

<br>

<!------------------- Capacity ------------------->

<table class="table table-hover">
  <tbody>
    <tr class="table-info">
      <th scope="row" class="text-info text-center font-weight-bold">Capacity</th>
    </tr>
  </tbody>
</table> 

<table class="table">
  <thead>
    <tr>
      <th scope="col"># of guests</th>
      <th scope="col"># of bedrooms</th>
      <th scope="col"># of bathrooms</th>
    </tr>
  </thead>
  
  <tbody>
    <tr>
      <td>
        <%= @listing.number_of_guests %>
      </td>
    
      <td>
        <%= @listing.number_of_bedrooms %>
      </td>
    
      <td>
        <%= @listing.number_of_bathrooms %>
      </td>
    </tr>
  </tbody>

</table>

<br>

<!------------------- Pricing & Availability ------------------->

<table class="table table-hover">
  <tbody>
    <tr class="table-info">
      <th scope="row" class="text-info text-center font-weight-bold">Pricing & Availability</th>
    </tr>
  </tbody>
</table> 

<table class="table">
  <thead>
    <tr>
      <th scope="col">Monthly Price</th>
      <th scope="col">Available From</th>
      <th scope="col">Available Till</th>
    </tr>
  </thead>
  
  <tbody>
    <tr>
      <td>
        <%= number_to_currency(@listing.monthly_price) %>
      </td>
    
      <td>
        <%= @listing.available_from.strftime("%F") %>
      </td>
    
      <td>
        <%= @listing.available_till.strftime("%F") %>
      </td>
    </tr>
  </tbody>

</table>

<br>

<!------------------- Details ------------------->

<table class="table table-hover">
  <tbody>
    <tr class="table-info">
      <th scope="row" class="text-info text-center font-weight-bold">Details</th>
    </tr>
  </tbody>
</table> 

<table class="table">
  <thead>
    <tr>
      <th scope="col">Housing Type</th>
      <th scope="col">Amenities</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  
  <tbody>
    <tr>
      <td>
        <%= @listing.housing_type %>
      </td>
    
      <td>
        <%= @listing.amenities %>
      </td>
    
      <td>
        <%= @listing.description %>
      </td>
    </tr>
  </tbody>

</table>

<!------------------- Photos ------------------->

<!--
<h5>Photos</h5>

<form action="/insert_photo_record" enctype="multipart/form-data">
  <div>
    <input type="hidden" value="<!%= current_user.id %>" name="user_id">
  </div>

  <div class="form-group">
    <label for="picture">Select photo</label>
    <input type="file" class="form-control-file" id="picture">
  </div>

  <div>
    <p></p>
  </div>  
  
  <div class="form-group">
    <label for="comment">Photo Caption</label>
    <textarea class="form-control" id="comment" name="comment" rows="3" placeholder="e.g., bathroom"></textarea>
  </div>

</form>

-->
