<h1>
  Listing list
</h1>

<a href="/new_listing_form">
  Add a new listing
</a>

<hr>

<table>
  <tr>
    <th>
      ID
    </th>

    <th>
      Housing type
    </th>

    <th>
      City
    </th>

    <th>
      Neighborhood
    </th>

    <th>
      Number of guests
    </th>

    <th>
      Number of bedrooms
    </th>

    <th>
      Number of bathrooms
    </th>

    <th>
      State
    </th>

    <th>
      Country
    </th>

    <th>
      Amenities
    </th>

    <th>
      Description
    </th>

    <th>
      Monthly price
    </th>

    <th>
      Sublessor
    </th>

    <th>
      Available from
    </th>

    <th>
      Available till
    </th>

    <th>
      Zip code
    </th>

    <th>
      Created at
    </th>

    <th>
      Updated at
    </th>
    
    <th>
      Times bookmarked
    </th>

    <th>
    </th>
  </tr>

  <% @listings.each do |listing| %>
  <tr>
    <td>
      <%= listing.id %>
    </td>

    <td>
      <%= listing.housing_type %>
    </td>

    <td>
      <%= listing.city %>
    </td>

    <td>
      <%= listing.neighborhood %>
    </td>

    <td>
      <%= listing.number_of_guests %>
    </td>

    <td>
      <%= listing.number_of_bedrooms %>
    </td>

    <td>
      <%= listing.number_of_bathrooms %>
    </td>

    <td>
      <%= listing.state %>
    </td>

    <td>
      <%= listing.country %>
    </td>

    <td>
      <%= listing.amenities %>
    </td>

    <td>
      <%= listing.description %>
    </td>

    <td>
      <%= listing.monthly_price %>
    </td>

    <td>
      <%= listing.sublessor_id %>
    </td>

    <td>
      <%= listing.available_from %>
    </td>

    <td>
      <%= listing.available_till %>
    </td>

    <td>
      <%= listing.zip_code %>
    </td>

    <td>
      <%= time_ago_in_words(listing.created_at) %> ago
    </td>

    <td>
      <%= time_ago_in_words(listing.updated_at) %> ago
    </td>
    
    <td>
      <%= pluralize(listing.bookmarks.count, "bookmarks") %>
    </td>

    <td>
      <a href="/listings/<%= listing.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
