<h1>
  Popular Listings
</h1>

<hr>

<table>
  <tr>
    <th>
      ID
    </th>

   <th>
      City
    </th>
    
    <th>
      State
    </th>

    <th>
      Monthly price
    </th>

    <th>
      # of bedrooms
    </th>

    <th>
      # of bathrooms
    </th>
    
    <th>
      Available from
    </th>

    <th>
      Available till
    </th>

    <th>
      Times bookmarked
    </th>

    <th>
    </th>
  </tr>

  <% @listings.each do |listing| %>
    <tr>
        <td>
          <%= listing.id %>
        </td>
        
        <td>
          <%= listing.city %>
        </td>
        
        <td>
          <%= listing.state %>
        </td>
        
        <td>
          <%= listing.monthly_price %>
        </td>
        
        <td>
          <%= listing.number_of_bedrooms %>
        </td>
        
        <td>
          <%= listing.number_of_bathrooms %>
        </td>
        
        <td>
          <%= listing.available_from.strftime("%F") %>
        </td>
        
        <td>
          <%= listing.available_till.strftime("%F") %>
        </td>
        
        <td>
          <%= pluralize(listing.bookmarks.count, "bookmarks") %>
        </td>
        
        <td>
          <a href="/listings/<%= listing.id %>">
            Show details
          </a>
        </td>
    </tr>
  <% end %>
</table>