<h3 class="text-info">
  Popular Listings
</h3>

<!--------------------Search filters-------------------->

<%= search_form_for @search_listing do |f| %>
  
  <p class="text-secondary">Narrow results:</p>
  
  <div class="container">
    <div class="row">
      
      <div class="form-group col-4">
        <%= f.label :city_cont, "City" %>
        <%= f.text_field :city_cont, :class => "form-control", :placeholder => "Enter city" %>
      </div>
    
      <div class="form-group col-4">
         <%= f.label :number_of_bedrooms_eq, "# of Bedrooms" %>
         <%= f.number_field :number_of_bedrooms_eq, :class => "form-control", :placeholder => "Enter # of bedrooms" %>
       </div>
       
      <div class="form-group col-4">
        <%= f.label :number_of_bathrooms_gteq, "# of Bathrooms" %>
        <%= f.number_field :number_of_bathrooms_gteq, :class => "form-control", :placeholder => "Enter # of bathrooms" %>
      </div>
    
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      
      <div class="form-group col-4">
        <%= f.label :available_from_lteq, "Available From" %>
        <%= f.date_field :available_from_lteq, :class => "form-control", :placeholder => "Enter available from date" %>
      </div>
    
      <div class="form-group col-4">
        <%= f.label :available_till_gteq, "Available Till" %>
        <%= f.date_field :available_till_gteq, :class => "form-control", :placeholder => "Enter available till date" %>
      </div>
       
      <div class="form-group col-4">
        <%= f.label :monthly_price_cont, "Monthly Price" %>
        <%= f.number_field :monthly_price_lteq, :class => "form-control", :placeholder => "Enter max monthly price" %>
      </div>
    
    </div>
  </div>
 
  <%= f.submit :class => "btn btn-info btn-block" %>
  
  <a href="/listings" class="btn btn-default btn-block">Clear filters</a>
<% end %>

<hr>

<table>
  <tr>
    <th>
      ID
    </th>

   <th>
      City
    </th>
    
    <th>
      State
    </th>

    <th>
      Monthly price
    </th>

    <th>
      # of bedrooms
    </th>

    <th>
      # of bathrooms
    </th>
    
    <th>
      Available from
    </th>

    <th>
      Available till
    </th>

    <th>
      Times bookmarked
    </th>

    <th>
    </th>
  </tr>

  <% @found_listings.each do |listing| %>
    <tr>
        <td>
          <%= listing.id %>
        </td>
        
        <td>
          <%= listing.city %>
        </td>
        
        <td>
          <%= listing.state %>
        </td>
        
        <td>
          <%= number_to_currency(listing.monthly_price) %>
        </td>
        
        <td>
          <%= listing.number_of_bedrooms %>
        </td>
        
        <td>
          <%= listing.number_of_bathrooms %>
        </td>
        
        <td>
          <%= listing.available_from.strftime("%F") %>
        </td>
        
        <td>
          <%= listing.available_till.strftime("%F") %>
        </td>
        
        <td>
          <%= pluralize(listing.bookmarks.count, "bookmarks") %>
        </td>
        
        <td>
          <a href="/listings/<%= listing.id %>">
            Show details
          </a>
        </td>
    </tr>
  <% end %>
</table>