<h3 class="text-info">
  Edit listing #<%= @listing.id %>
</h3>

<hr>

<%= render("listing_templates/validation_failures.html.erb") %>

<form action="/update_listing_record/<%= @listing.id %>" method="post">
  
  <!------------------- Location ------------------->

<table class="table table-hover">
  <tbody>
    <tr class="table-info">
      <th scope="row" class="text-info text-center font-weight-bold">Location</th>
    </tr>
  </tbody>
</table> 

<div class="container">
  <div class="row">
    
    <div class="col-4">
      <label for="city">
        City
      </label>
  
      <input type="text" id="city" name="city" value="<%= @listing.city %>" placeholder="e.g., Chicago">
    </div>
  
    <div class="col-4">
      <label for="neighborhood">
        Neighborhood
      </label>
  
      <input type="text" id="neighborhood" name="neighborhood" value="<%= @listing.neighborhood %>" placeholder="e.g., Downtown/Loop">
    </div>
  </div>
</div>
  
<div class="container">
  <div class="row">
    
    <div class="col-4">
      <label for="state">
        State
      </label>
  
      <input type="text" id="state" name="state" value="<%= @listing.state %>" placeholder="e.g., Illinois">
    </div>
  
    <div class="col-4">
      <label for="zip_code">
        Zip code
      </label>
  
      <input type="text" id="zip_code" name="zip_code" value="<%= @listing.zip_code %>" placeholder="e.g., 60601">
    </div>
    
    <div class="col-4">
      <label for="country">
        Country
      </label>
  
      <input type="text" id="country" name="country" value="<%= @listing.country %>" placeholder="e.g., USA">
    </div>
  </div>
</div>

<br>

<!------------------- Capacity ------------------->

<table class="table table-hover">
  <tbody>
    <tr class="table-info">
      <th scope="row" class="text-info text-center font-weight-bold">Capacity</th>
    </tr>
  </tbody>
</table> 

<div class="container">
  <div class="row">

    <div class="col-4">
      <label for="number_of_guests">
        # of guests
      </label>
  
      <input type="text" id="number_of_guests" name="number_of_guests" value="<%= @listing.number_of_guests %>" placeholder="E.g., 2">
    </div>
    
    <div class="col-4">
       <label for="number_of_bedrooms">
        # of bedrooms
      </label>
  
      <input type="text" id="number_of_bedrooms" name="number_of_bedrooms" value="<%= @listing.number_of_bedrooms %>" placeholder="E.g., 1">
    </div>
    
    <div class="col-4">
      <label for="number_of_bathrooms">
        # of bathrooms
      </label>
  
      <input type="text" id="number_of_bathrooms" name="number_of_bathrooms" value="<%= @listing.number_of_bathrooms %>" placeholder="E.g., 1">
    </div>
  </div>
</div>

<br>

<!------------------- Pricing & Availability ------------------->

<table class="table table-hover">
  <tbody>
    <tr class="table-info">
      <th scope="row" class="text-info text-center font-weight-bold">Pricing & Availability</th>
    </tr>
  </tbody>
</table> 

<div class="container">
  <div class="row">
    
    <div class="col-4">
      <label for="monthly_price">
        Monthly pricing
      </label>
      <input type="text" id="monthly_price" name="monthly_price" value="<%= @listing.monthly_price %>" placeholder="E.g., $1,700">
    </div>
    
    <div class="col-4">
      <label for="available_from">
        Available from
      </label>
      <input type="date" id="available_from" name="available_from" value="<%= @listing.available_from.strftime('%Y-%m-%d')%>">
    </div>
    
    <div class="col-4">
      <label for="available_till">
        Available till
      </label>
      <input type="date" id="available_till" name="available_till" value="<%= @listing.available_till.strftime('%Y-%m-%d')%>">
    </div>
  </div>
</div>  

<br>

<!------------------- Details ------------------->

<table class="table table-hover">
  <tbody>
    <tr class="table-info">
      <th scope="row" class="text-info text-center font-weight-bold">Details</th>
    </tr>
  </tbody>
</table> 

<div class="container">
  <div class="row">
    
    <div class="col-4">

      <label for="housing_type">
        Housing type
      </label>
      
      <!--<input type="text" class="form-control" id="housing_type" name="housing_type" placeholder="Select housing type"> -->
      
      <select class="form-control" id="housing_type" name="housing_type">
        <option selected><%= @listing.housing_type %></option>
        <option value="Entire place">Entire place</option>
        <option value="Private room">Private room</option>
        <option value="Shared room">Shared room</option>
      </select>
      
    </div>
    
    <div class="col-4">
      <label for="amenities">
        Amenities
      </label>
  
      <input type="text" id="amenities" name="amenities" value="<%= @listing.amenities %>" placeholder="E.g., dishwasher, etc.">
    </div>

    <div class="col-4">
      <label for="description">
        Description
      </label>
  
      <input type="text" id="description" name="description" value="<%= @listing.description %>" placeholder="E.g., urban escape with patio">
    </div>
  </div>
</div>

<br>

<!------------------- Photos -------------------->
<!--
<h5>Photos</h5>

<form action="/insert_photo_record" enctype="multipart/form-data">
  <div>
    <input type="hidden" value="<!%= current_user.id %>" name="user_id">
  </div>

  <div class="form-group">
    <label for="url">Select photo</label>
    <input type="file" class="form-control-file" id="url">
  </div>

  <div>
    <p></p>
  </div>  
  
  <div class="form-group">
    <label for="comment">Photo Caption</label>
    <textarea class="form-control" id="comment" name="comment" rows="3" placeholder="e.g., bathroom"></textarea>
  </div>

</form>


<br>

-->
<!------------------- Update Listing & Go Back ------------------->

  <button class="btn btn-secondary btn-lg btn-block">
    Update listing
  </button>
</form>

<hr>

<a href="/users/<%= current_user.id %>">
  <h6 class="text-info">Go back</h6>
</a>
