<h1>
  Bookmarks List
</h1>

<hr>

<table>
  <tr>
    <th>
      ID
    </th>

    <th>
      Sublessee
    </th>
    
    <th>
      Sublessee e-mail
    </th>

    <th>
      Listing ID
    </th>

    <th>
      Bookmarked at
    </th>
    
    <th>
      Times bookmarked
    </th>

    <th>
    </th>
  </tr>

  <% @bookmarks.each do |bookmark| %>
  <tr>
    <td>
      <%= bookmark.id %>
    </td>

    <td>
      <%= bookmark.sublessee_id %>
    </td>
    
    <td>
      <%= bookmark.sublessee_id%>
    </td>

    <td>
      <%= bookmark.listing_id %>
    </td>

    <td>
      <%= time_ago_in_words(bookmark.created_at) %> ago
    </td>

    <td>
      <a href="/bookmarks/<%= bookmark.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
