<!DOCTYPE html>
<html>
  <head>
    <title>Sublet Sign In</title>

    <!-- Expand the characters we can use beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Connect the latest light.css to override browser default styles. -->
    <!-- You should replace this with a real stylesheet ASAP; probably Bootstrap, commented out below. -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">

    <!-- Connect Font Awesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    <!-- Embedding other CSS and JavaScript from gems and things -->
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>

    <!-- Rails security stuff -->
    <%= csrf_meta_tags %>

    <!-- START BOOTSTRAP -->
    <!-- Connect Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Connect Bootstrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- END BOOTSTRAP -->
  </head>

<!--------------------Navbar: Bootswatch Minty-------------------->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">
    MI CASA, TU CASA
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      
      <% if (current_user.present?)  %>
      <li class="nav-item">
        <a class="nav-link" href="/users/<%= current_user.id %>">
          <i class="fas fa-heart"></i>
          My Listings & Bookmarks <span class="sr-only">(current)</span>
        </a>
      </li>
      <% end %>
      
      <li class="nav-item">
        <a class="nav-link" href="/new_listing_form">
          <i class="fas fa-plus fa-fw"></i>
          Add Listing 
        </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/listings">
          <i class="fas fa-clock fa-fw"></i>
          Recent
        </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/popular">
          <i class="fas fa-fire fa-fw"></i>
          Popular
        </a>
      </li>
      
    </ul>

<!--------------------Navbar: Bootswatch Minty: Search-------------------->
    
<!--
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
-->

  </div>
</nav>

<!--------------------Navbar: Basic-------------------->

<!--
  <div class="container">

    <!-- ↓↓↓ Your view templates all get plugged in below ↓↓↓ -->
<!--<nav>
      <div>
        <a href="/">
          <i class="fab fa-firstdraft fa-fw"></i>
          
          Home
        </a>
      </div>
    
    <!% if (current_user.present?)  %>
      <div>
        <a href="/users/<!%= current_user.id %>">
          <i class="fas fa-heart"></i>

          My Bookmarks & Listings
        </a>
      </div>
    <!% end %>
    
      <div>
        <a href="/new_listing_form">
          <i class="fas fa-plus fa-fw"></i>

          Add Listing
        </a>
      </div>

      <div>
        <a href="/listings">
          <i class="fas fa-clock fa-fw"></i>

          Recent
        </a>
      </div>

      <div>
        <a href="/popular">
          <i class="fas fa-fire fa-fw"></i>

          Popular
        </a>
      </div>
-->


    <% if current_user.blank? %>
      
      <div class="container">
        <div class="row">
          <div class="col-8" ></div>
          <div class="col-2"align="right">
            <a href="/users/sign_in">
              <p class="text-info">Sign in</p>
            </a>
          </div>
          <div class="col-2" align="right">
            <a href="/users/sign_up">
               <p class="text-info">Sign up</p>
            </a>
          </div>
        </div>
      </div>
      
    <% else %>
      <div class="container">
        <div class="row">
          <div class="col-8" align="left">
            <p class="text-info font-weight-bold">Hello, <%= current_user.first_name + " " + current_user.last_name %></p>
          </div>
          <div class="col-2 text-right">
            <a href="/users/edit">
              <p class="text-info">Edit profile</p>
            </a>
          </div>
          <div class="col-2 text-right">
            <a href="/users/sign_out" data-method="delete">
               <p class="text-info">Sign out</p>
            </a>
          </div>
          
        </div>
      </div>
    <% end %>
    
<!--</nav>
-->
    <hr>  
    <%= yield %>
    
    <!-- ↑↑↑ Your view templates all get plugged in above ↑↑↑ -->

    
    

